<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2" offset="5">
        <ion-button
          [disabled]="(vehicleConnectionState | async) !== ConnectionState.Connected"
          (click)="moveForward()"
          fill="clear"
          size="large"
        >
          <ion-icon name="arrow-up"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" offset="3">
        <ion-button
          [disabled]="(vehicleConnectionState | async) !== ConnectionState.Connected"
          (click)="turnLeft()"
          fill="clear"
          size="large"
        >
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button
          [disabled]="(vehicleConnectionState | async) !== ConnectionState.Connected"
          (click)="stop()"
          fill="clear"
          size="large"
        >
          <ion-icon name="stop"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button
          [disabled]="(vehicleConnectionState | async) !== ConnectionState.Connected"
          (click)="turnRight()"
          fill="clear"
          size="large"
        >
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" offset="5">
        <ion-button
          [disabled]="(vehicleConnectionState | async) !== ConnectionState.Connected"
          (click)="moveBackward()"
          fill="clear"
          size="large"
        >
          <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="12" class="small-distance">
        <h3 class="ion-text-center">
          Distance: {{distanceMeasurement | async}}
        </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="small-distance">
        <ion-card>
          <ion-card-header (click)="toggleCameraView()">
            <ion-card-title>
              Camera view
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img *ngIf="videoCardVisible"
              width="320"
              height="240"
              [src]="videoFeedUrl"
            />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border ion-margin-bottom">
  <app-vehicle-connection-status
    [connectionState]="vehicleConnectionState | async"
    (connectToVehicle)="connectToVehicle()"
  >
  </app-vehicle-connection-status>
</ion-footer>
